
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-style: solid;
  border-color: #ccc;
  border-bottom: 0px;
  border-width: 1px;
}

article {
  font-style: italic;
}

/* NAVBAR STYLES */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#dropdown {
  padding: 0;
}

#dropdown {
  position: relative;
}

#nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  z-index: 1000;
}

#page-header {
  padding: 0;
  margin: 0;
}

#nav-link {
  padding-bottom: 1rem;
}
