{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1>Welcome to My Blog</h1>
<body>
    <h2>Lastest post - </h2>
    <article>
        <header>
            <p>Title: {{ last_post[0][0] }}</p>
            <p>Published: <time>{{last_post[0][2]}} UTC</time></p>
        </header>
        <section class="post-content">
            <div id="last-post-container">
                <p>Post: {{ last_post[0][1] }}</p>
            </div>
        </section>
    </article>
    
    
    <br>
    <h3>Submit a blog post below!</h3>
    <form 
        id="blog-form" 
        action="/create-post" 
        method="post"
    >
        <label for="title">Title:</label>
        <input type="text" name="post-title" placeholder="Enter title">

        <label for="content">Content:</label>
        <input type="text" name="post-content" placeholder="What would you like to post today?">
        
        <button type="submit" onsubmit="handleForm(event)">Create Post</button>
    </form>
    <script>
        function handleForm(event) {
            //event.preventDefault();
            event.target.reset();
        } 
    </script>
</body>


{% endblock %}